
.content-info_list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.content-info_item {
    margin-top: 20px;
}

.content-info_item-header {
    font-size: 2rem;
    font-weight:700;
}

.content-info_item-description {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 12px 0;
}

